.mixin.out
addons
crash-reports
disabledmods
dumps
jarmods
logs
resourcepacks
saves
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap

crafttweaker.log
instance.json
knownkeys.txt
options.txt
usercache.json
usernamecache.json